{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Liste des ingrédients</h1>

      {% for ingredient in ingredients %
        <div class="alert alert-info">
        <p}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
