{% extends 'base.html.twig' %}

{% block title %}Liste des ingrédients
{% endblock %}

{% block body %}
	<h1>Liste des ingrédients</h1>

	<div class="text-end">
		<h4>{{ ingredients.getTotalItemCount }}
			ingrédients au total</h4>
	</div>

	<table class="table table-striped">
			{% if ingredients is not empty %}
    {% for ingredient in ingredients %}
        <!-- Affiche les ingrédients -->
        </tr>
    {% endfor %}
{% else %}
    <h4>Il n'y a pas d'ingrédients</h4>
{% endif %}

		
	</tbody>
</table>

<div class="navigation d-flex justify-content-center">
	{{ knp_pagination_render(ingredients) }}
</div>{% endblock %}
